.app {
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding: 20px;
  height: 100vh;
  align-self: center;
}

.left-section,
.middle-section,
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  height: 30vh;

}

.last-five-numbers,


.counter {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: 30vh;

}
.counter p {
  margin: 0;
  align-self: center;
  font-size: 28px;
}

h2 {
  margin-bottom: 10px;
}

.horizontal-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

li {
  margin-bottom: 5px;
}